<div *ngIf="product">
  <ul *ngIf="product.size.small || product.size.medium || product.size.large" class="list">
    <li class="list_item">
      <p class="featured" *ngIf="featured">Featured Product</p>
      <h2 [ngClass]="{'brandFeatured':featured,'brand':!featured}"> <em> Brand:</em> {{product.brand | titlecase}} </h2> 
      <img alt="{{product.name}}" [ngClass]="{'avatar2':featured,'avatar':!featured}" src="../../../assets/images/{{product.name}}.jpg" />
      <h1>
        {{product.name | titlecase}}&nbsp;
        £{{product.price}}                    
      </h1> 
      <button [ngClass]="{'basket2':featured,'basket':!featured}" type="button" [disabled]="!selectedSize" (click)="addToBasket()">Add to Basket</button>  
      <p class="information"> <em>Colour:</em> {{product.colour | titlecase}} </p> 
      <article> {{product.description}}</article>
      <p class="information"> <em>Product ID:</em> {{product.productid}} </p>
      <div class="sizes">
        <label for="sel">Available Sizes </label>             
        <select  id="sel" [(ngModel)]="selectedSize">
          <option disabled value="null">Select</option>
          <option *ngIf="product.size.small" value="small">Small</option>
          <option *ngIf="product.size.medium" value="medium">Medium</option>
          <option *ngIf="product.size.large" value="large">Large</option>
        </select>
      </div>           
    </li>
  </ul>
</div>