.avatar, .avatar2 {
        width: 120px;
        height: 120px;      
        margin-left: 10px;
}
.avatar {
        padding-top: 20px;            
}
.avatar2 {
        padding-top: 0px;
        border: 2.5px solid blue;
}
.sizes {
        display: block;
        margin-left: 20px;
        margin-bottom: 5px;
        text-align: left;
        padding-left: 10px;
}
div {
        position: relative;
        z-index: 0;
}
.list {
        list-style-type: none;
        padding:0;
}
.list_item {
        border: 1px solid black;
        min-height: 250px;
        margin-top: 20px;
        margin-left: 10%;
        width: 80%;
        position: relative;
}
article {
        padding-left: 10%;
        font-size: 18px;
        border: 1.5px solid darkgray;
        background: rgb(249, 252, 252);
        max-width: 600px;
        min-height: 70px;
        padding: 10px;
        text-align: left;

        h1 {        
        margin-left: 0%;
        }
}
h2 {
        display:none;
} 
label   {
        padding-right: 5px;
        font-weight: bold;
}
em {
        font-size: 17px;
        color: blue;
        display:inline;
}  
button.basket, button.basket2 {
        margin-left: 5px;
        color: white;
        height: 20px;
        border: 1.5px solid black;
        border-radius: 25px;
        font-weight: bold;
        background-color: red;
}         
button:disabled {
        background-color: grey;
}
.featured {
        height:25px;
        background-color: rgb(80, 85, 88);
        text-align: left;
        padding-left: 10px;
        padding-top: 5px;
        margin-top: 0%;
        margin-left: 0%;
        color: white;
        border: 2.5px solid blue;
}
.brandFeatured {
        margin-top:0px;
}
.information {
        text-align: left;
        margin-left: 25%;
        font-size: 17px;
}


@media only screen and (min-width: 700px) {
        .avatar, .avatar2 {
                float: left;
                display:block;
        }
        article {
                margin-left: 25%;
                max-width: 900px;
                padding: 10px;
        }
        h1, h2 {text-align: left;
                margin-left: 25%;
        } 
        button.basket, button.basket2 {
                margin-left: 10px;
                margin-bottom:50px;
                position: absolute;
                right: 20px;
                height: 25px;
        }
        h2 {
                float:right;
                margin-right: 20px;
                display: block;
        }  
}
@media only screen and (min-width: 1400px) 
        {
        .avatar, .avatar2 {
                width: 240px;
                height: 240px;
        }
}