<div class="search">    
    <input [(ngModel)]="searchItem" type="text" placeholder="Search for products..">
    <button type="submit" (click)=searchProducts()>Search</button>
</div>
<p> 
    <app-product-list 
        (productSelected)="onProductSelected($event)"
        *ngFor="let product of featured"
        [product]="product" [featured]="true">
    </app-product-list>
    <app-product-list 
        (productSelected)="onProductSelected($event)"
        *ngFor="let product of productList"
        [product]="product">
    </app-product-list>
</p>
<article *ngIf="!productList.length">No search results found</article>
