<div *ngIf="viewBasket">
    <ul>
        <li *ngFor="let basket of basketList">{{basket.name | titlecase}}&nbsp;-&nbsp;
            {{basket.chosenSize | titlecase}}&nbsp;-&nbsp;£{{basket.price}}
        </li>
    </ul>
    <hr>
    <p *ngIf="total > 0"><em>Total Cost:  £{{total}}</em></p>
        <button type="button" (click)="emptyBasket()">Empty Basket</button>
</div>
