ul {
    padding-top:0px;
    padding-left: 15px;
}
div {
    width: 200px;
    min-height: 40px;
    border: 1px solid grey;
    margin-left:-49px;
    margin-top: 10px;  
    background-color: lightgray;
    position: relative;
    z-index: 1;
  
}
button {
    width: 120px;
    height: 20px;
    background-color: red;
    color: white;
    margin-left: 40px; 
    cursor: pointer; 
}
em {
    font-size: 18px;
    padding-left: 15px;
    font-weight: bold;
}
