<div style="text-align:center">
    
  <header>
    <div class="intro"> 
      <ul id="menu">
        <li><a href="#">work</a></li>&nbsp;.&nbsp;
        <li><a href="#">services</a></li>&nbsp;.&nbsp;
        <li><a href="#">insights</a></li>&nbsp;.&nbsp;
        <li><a href="#">blog</a></li>&nbsp;.&nbsp;
        <li><a href="#">events</a></li>&nbsp;.&nbsp;
        <li><a href="#"><b>shop</b></a></li>&nbsp;.&nbsp;
        <li><a href="#">contact</a></li>
      </ul> 
    </div>

    <select id="flag">
    </select>

    <aside>
    <div class="openBasket"  (click)="toggleBasket($event)">View Basket ({{count}})<img alt="viewBasket" class="viewBasket" src="../assets/images/basket.png"> 
    <app-basket [viewBasket]="viewBasket"
    [basketList]="basketList"
    [total]="total"
    (clearBasket)=emptyBasket()>
    </app-basket> 
    </div>
    <br>
    </aside>
    <div><img class="logo2" alt="leighton-logo" src="../assets/images/leighton2.jpg"></div>
    <hr>
    <div class="intro2"> 
      <ul id="menu">
        <li><a href="#">Shop home</a></li>
        <li><a href="#">Male</a></li>
        <li><a href="#">Female</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Coming soon</a></li>
      </ul> 
    </div>
    <hr>
  </header>

  <body>
    <app-store (newProductSelected)="addToBasket($event)"></app-store>
  </body>
  <footer>
    <img class="logo" alt="leighton-logo" src="../assets/images/leighton.png">
    <div>Leighton Corporation Limited is a company registered in England and Wales with company number 03307776, trading as Leighton Corporation. Registered office: Chase House Mandarin Road, Rainton Bridge, Houghton Le Spring, Tyne And Wear, DH4 5RA.
    </div>
  </footer>
</div>
