ul li {
    display: inline-block;  
}
.intro {
    background-color: grey;
    min-height: 25px;
    max-height: 60px;   
    
    a {
        text-decoration: none;
        color: white;     
    }
}
.intro2 {
    font-size: 18px;
    min-height: 25px;
    max-height: 100px;    

    a {
        text-decoration: none;
        color: grey;
        padding-right:2em;
    }
}
select {
    display: none;
}
.openBasket {
    margin-left: 30%; 
    padding-left: 15px; 
    height: 30px; 
    position: absolute;
    width: 130px;
    text-align: left; 
    margin-top: 20px;
    font-size: 15px;
    background-color: orange;
    padding-top:8px;
    border: 1px solid grey; 
    cursor: pointer;              
}
.viewBasket {
    display: none;
}
footer {
    width:50%;
    background: #c63e34;
    color: white;
    display: inline-block;
    padding: 2% 10%;
    margin-top: 30px;
}
.logo {
    height:60px;
    padding-right:80px;
}
.logo2 {
    width:230px;
    margin-top:50px;
}


@media only screen and (min-width: 800px) {
    select {
        background-image: url(../assets/images/flag.jpg);
        background-repeat: no-repeat;
        height:30px;
        width:55px;
        color: transparent;
        display: block;
        margin-left: 13%;
        margin-top:20px;
        position: absolute;
    }
    .openBasket {
        margin-left: 78%;            
    }
    .viewBasket {
        display: inline;
        max-width: 20px;
        padding-left:5px;
    }
    footer {
        width:700px;
        height: 100px;
        margin-top: 30px;

        div {
            padding-top:10px;
        }
    }
    .logo {
        height:110px;
        float:left;
    }
    .logo2 {
        width:450px;
        margin-top:20px;
    }
}